# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Hidden files
.*
!*/.gitkeep
!.gitignore

# Build and scratch directories
scratch/
*/scratch
linux/build/
linux/third-party/install/

# Taken from liblo .gitignore

*.o
*~
*.lo
*.la
.deps
.libs
linux/third-party/liblo/Makefile
linux/third-party/liblo/Makefile.in
linux/third-party/liblo/aclocal.m4
linux/third-party/liblo/autom4te.cache/
linux/third-party/liblo/build/Makefile
linux/third-party/liblo/build/Makefile.in
linux/third-party/liblo/compile
linux/third-party/liblo/config.guess
linux/third-party/liblo/config.h
linux/third-party/liblo/config.h.in
linux/third-party/liblo/config.log
linux/third-party/liblo/config.status
linux/third-party/liblo/config.sub
linux/third-party/liblo/configure
linux/third-party/liblo/depcomp
linux/third-party/liblo/doc/Makefile
linux/third-party/liblo/doc/Makefile.in
linux/third-party/liblo/doc/doxygen-build.stamp
linux/third-party/liblo/doc/html/
linux/third-party/liblo/doc/latex/
linux/third-party/liblo/doc/man/
linux/third-party/liblo/doc/reference.doxygen
linux/third-party/liblo/examples/Makefile
linux/third-party/liblo/examples/Makefile.in
linux/third-party/liblo/examples/example_client
linux/third-party/liblo/examples/example_server
linux/third-party/liblo/examples/example_tcp_echo_server
linux/third-party/liblo/examples/nonblocking_server_example
linux/third-party/liblo/examples/cpp_example
linux/third-party/liblo/install-sh
linux/third-party/liblo/liblo.pc
linux/third-party/liblo/libtool
linux/third-party/liblo/lo/Makefile
linux/third-party/liblo/lo/Makefile.in
linux/third-party/liblo/lo/lo.h
linux/third-party/liblo/lo/lo_endian.h
linux/third-party/liblo/ltmain.sh
linux/third-party/liblo/m4/
linux/third-party/liblo/missing
linux/third-party/liblo/README
linux/third-party/liblo/src/Makefile
linux/third-party/liblo/src/Makefile.in
linux/third-party/liblo/src/cpp_test
linux/third-party/liblo/src/liblo.def
linux/third-party/liblo/src/subtest
linux/third-party/liblo/src/test_bidirectional_tcp
linux/third-party/liblo/src/testlo
linux/third-party/liblo/src/liblo-stamp
linux/third-party/liblo/src/tools/Makefile
linux/third-party/liblo/src/tools/Makefile.in
linux/third-party/liblo/src/tools/oscdump
linux/third-party/liblo/src/tools/oscsend
linux/third-party/liblo/stamp-h1
linux/third-party/liblo/test
linux/third-party/liblo/test-driver
linux/third-party/liblo/test.cpp
