[submodule "xmos_control_protocol"]
	path = linux/xmos_protocol
	url = git@bitbucket.org:mindswteam/xmos-gpio-protocol.git
[submodule "linux/third-party/spdlog"]
	path = linux/third-party/spdlog
	url = git://github.com/gabime/spdlog.git
